nav {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
}

nav a {
    background-color: maroon;
    padding: 10px;
    margin: 5px;
    margin-bottom: 0px;
    border-radius: 8% 8% 0 0;
    color: whitesmoke;
    font-family: 'Patrick Hand';
    font-size: large;
    min-width: 50px;
}

p {
    font-size: large;
}

a:hover {
    background-color: darkblue;
}

/*background image */
body {
    background-image: url('/ktchn_background.jpg');
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

#instructList,
#ingredientList {
    background-color: bisque;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Patrick Hand';
    font-size: 22px;

}

#info {
    background-color: lightblue;
    border-radius: 15px;
    box-shadow: 2px 1px 1px 2px grey;
    margin: 10px;
    padding: 10px;
    font-family: 'Patrick Hand', cursive;
    display: grid;
    grid-template-columns: 60% 20%;
    grid-column-gap: 15%;
}

#info img {
    margin: auto;
    width: 100%;
}

h1,
h2,
h3,
#submitRecipe {
    font-family: 'Jost', sans-serif;
}

.controlDiv {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
}

.controlDiv button {
    min-width: 100px;
    background-color: cadetblue;

}

#submitDiv {
    display: flex;
    justify-content: flex-end;
}
#submitRecipe {
    width: 200px;
    padding: auto;
    font-size: larger;
    border-radius: 10px;
}

#submitRecipe:hover {
    background-color: green;
}

input {
    min-height: 90%;
}

/*caps text input field size*/
#instructInput {
    min-width: 90%;
    max-width: 90%;
    min-height: 200px;
}

main {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 800px;
    border-radius: 2%;
    box-shadow: 2px 1px 1px 2px black;
    padding: 20px;
}